@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');

.html {
    max-width: 100%;
    overflow-x: hidden;
}

.topnav {
    background-color: #2356ff;
    width: 150%;
    height: 50px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(10);
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    border-radius: 20px;
}

.bg {
    min-height: 100vh;
    background-image: url("../gfx/background.jpg");
    background-size: cover;
    background-position: center;
}

.booleanText {
    display: block;
    width: 25%;
    offset-anchor: center;
    margin: auto;
    transition: width 0.1s ease-in-out 0ms;
}

.infoText {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.button {
   margin-left: auto;
   margin-right: auto;
   margin-top: 6px;
   background-color: transparent;
   border: none;
   color: white;
   width: 10%;
   height: 7%;
   text-align: center;
   text-decoration: none;
   border-radius: 20px;
   border: 4px solid #2356ff;
   font-family: 'Roboto', sans-serif;
   font-size: 25px;
   display: block;
   transition: all ease-in-out;
   transition-duration: 0.2s;
}

.button:hover {
  background-color: #2356ff;
  cursor: pointer;
}

.button:active {
    
}

.booleanText:hover {
    width: 27%;
}

h1 {
    font-weight: bold;
}

.center {
    margin: auto;
    text-align: center;
    display: block;
    font-family: 'Roboto', sans-serif;
    color: white;
}