.html {
    max-width: 100%;
    overflow-x: hidden;
}

.box {
    min-height: 100vh;
    background-image: url("gfx/background.jpg");
    background-size: cover;
    background-position: center;
}

.booleanText {
    display: block;
    width: 25%;
    offset-anchor: center;
    margin: auto;
    transition: width 0.1s ease-in-out 0ms;
}

.infoText {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.moreInfo {
   display: flex;
   width: 10%;
   height: 7%;
   text-decoration: none;
   margin: auto;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   color: white;
   border-radius: 25%;
   background-position: center;
}

.booleanText:hover {
    width: 27%;
}