.html {
    max-width: 100%;
    overflow-x: hidden;
}

.box {
    min-height: 100vh;
    background-image: url("gfx/background.jpg");
    background-size: cover;
    background-position: center;
}

.booleanText {
    display: block;
    width: 25%;
    offset-anchor: center;
    margin: auto;
    transition: width 0.1s ease-in-out 0ms;
}

.infoText {
    width: 25%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.moreInfo {
    background-image: linear-gradient(rgb(59, 59, 172,0.5),rgb(23, 23, 67,0.5));
    padding: 15px 45px;
    text-align: center;
    background-size: 200% auto;
    border-radius: 15px;
    background-color: transparent;
    display: flex;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    color: white;
    transition: padding 0.1s ease-in-out 0ms;
}

.moreInfo:hover {
    padding: 25px 45px;
}

.booleanText:hover {
    width: 27%;
}